.myJumbo{
    font-family: fantasy;
    font-style: italic;
    text-align: center;
    background: linear-gradient( rgb(231, 255, 176),#bfd255 100%);
}

#body-envelope{
    background: linear-gradient(to bottom, #00a790 0%, #00c570 50%, #00a790 100%);
    background: linear-gradient(to left, #00a790 0%, #00c570 25%, #00c570 75%, #00a790 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#myNav{
    background-color: #008795;
}

#kerala{
    background: linear-gradient(to right, #9ecb2d 0%,#bfd255 100%);
    text-align: justify;
    padding: 20px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#kerala-stats{
    background: linear-gradient(to right, #bfd255 0%,#9ecb2d 100%);
    text-align: justify;
    padding: 20px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form{
    background: darkslategray;
}

#password-strength-meter {
    width: 250px;
    height: 7px;
}

/* districts-page */

.myDistrict{
    margin: 0px 0px;
    /* background: linear-gradient(to bottom, #00a790 0%, #0fdf2e 50%, #00a790 100%);
    background: linear-gradient(to left, #00a790 0%, #0fdf2e 50%, #00a790 100%); */
}

.myDist{
    padding: 20px;
    margin: 20px 0px;

}

.myDist img{
    width: 100%;
    height: 200px;
    display: block;
}

/* Alappuzha page */

.myPlaces p{
    float: left;
}

.myPlaces img{
    float: right;
}
